
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* colores */
:root{
    --color-main-dark: #001011;
    --color-white: #EAF1E4;
    --color-white-darker: #d5ddce;
    --color-orange: #E78823;
    --color-orange-light: #f89933;
    --color-error: #EC0B43;
    --color-error-light: #fc0241;
    --color-green: #21C063;
    --color-green-light :#5fda92;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

button{
    font-family: 'Roboto', sans-serif;
}

.swal2-icon{
    overflow: hidden;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: var(--color-orange)!important;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

.portada-container{
    height: 70vh;
    background-image: url(../assets/img/portada3.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.nav-container{
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

.nav-scroll{
    background-color: var(--color-main-dark);
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 20px;
    color: var(--color-white);
    overflow: hidden;
}

.listMenu {
    display: flex;
    gap: 25px;
}

.portada {
    width: 100%;
    height: 60vh;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.titulo {
    grid-column: 4/6;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white)
}

.titulo h1 {
    font-size: 50px;
    /* text-shadow: white 2px 2px 2px; */
}

.titulo p {
    font-size: 20px;
}

.main{
    background-color: var(--color-white);
}

.filtrosContainer-Container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    /* background-color: #E78823; */
}

.filtrosContainer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-orange);
    border-radius: 20px;
    gap: 30px;
}

.input-filtro{
    width: 40%;
    height: 40%;
    display: flex;
    padding-left: 20px;
    margin-left: 10px;
    gap: 20px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    border: var(--color-main-dark) 1px solid;
    background-color: var(--color-white);
    border-radius: 10px;
}


.input-filtro input{
    background-color: var(--color-white);
    border: none;
    outline: none;
}

.buscador-filtro{
    width: 80%;
    height: 25px;
}

.rango-precio-container{
    height: 70px;
    width: 310px;
    /* background-color: #21C063; */
    display: flex;
}

.range-wraper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field{
    display: flex;
    gap: 10px;
    height: 40px;
    align-items: center;
}

.field input{
    width: 70%;
    border-radius: 5px;
    height: 30px;
    outline: none;
    border: none;
}

.slider{
    display: flex;
    justify-content: center;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


input[type="number"]{
    text-align: center;
}

.range-max, .range-min{
    cursor: pointer;

}

.submit-filtro{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.submit-filtro:hover{
    transition: 0.5s;
    background-color: var(--color-green); 
}

.limpiar-filtro{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.limpiar-filtro:hover{
    transition: 0.5s;
    background-color: var(--color-error);
}

.autos-container {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    row-gap: 100px;
    padding: 100px;
    padding-top: 50px;
    background-color: var(--color-white);
}

.card-error{
    background-color: var(--color-error);
    height: 200px;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-error-autosContainer{
    grid-column: 1/4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-success{
    background-color: var(--color-green);
    height: 200px;
    padding: 50px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 350px;
    width: 350px;
    /* border-radius: 20px; */
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    box-shadow: black 1px 2px 2px ;
    transition: ease 0.5s;
    background-color: var(--color-white-darker);
    color: var(--color-main-dark);
}

.img-card img{
    height: 200px;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}

.card h2 {
    text-align: center;
}

.titulo-card{
    font-size: 20px;
    margin-top: 0px;
}


.precio-card{
    font-size: 30px;
}

.title-card{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.button-container{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    transition: ease 0.5s;

}

.button-add{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 0px;
    transition: ease 0.5s;
    color: var(--color-main-dark);
    background-color: var(--color-orange);
    width: 100%;
}

.button-add:hover{
    transition: ease 0.5s;
    background-color: var(--color-orange-light);
    cursor: pointer;
}

footer {
    background-color: var(--color-main-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    padding-top: 20px;
    overflow: hidden;
    justify-content: space-between;
    padding-bottom: 20px;
    color: var(--color-white-darker);
}

.listRedes {
    display: flex;
    gap: 20px;
}

.redes-icon i{
    font-size: 30px;
    list-style: none;
    text-decoration: none;
}

/* carrito */

.portada-cart{
    background-image: url(../assets/img/portada3.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.section-cart{
    background-color: var(--color-white);
    height: 800px;
}

.cart-container-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container{
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    /* border:#001011 2px solid;
    border-radius: 10px; */
    margin: auto;}

.card-carrito{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: var(--color-orange);
    border-radius: 10px;
    width: 100%;
    height: 90px;
    overflow: hidden;
}

.img-card-carrito{
    height: 100%;
    width: 150px;
    overflow: hidden;
}

.imgCarrito{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.div-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-title{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 25px;
}

.auto-prop{
    font-size: 20px;
}


.cart-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cart-buttons{
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 3px;
}


.financiador-button{
    margin-left: 5px;
    width: 150px;
    height: 40px;
}

.botones-cart{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 10px;
}

.volver-button{
    height: 50px;
    width: 150px;
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--color-orange-light);
}

.comprar-button{
    height: 50px;
    width: 150px;
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--color-green);
    font-size: 25px;
}

/* Media queries */

@media only screen and (max-width:1650px) {
    .cart-container-container{
        height: 350px;
    }
    
    .autos-container {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-content: space-around;
        row-gap: 120px ;
    }
}
