
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* colores */
:root{
    --color-main-dark: #001011;
    --color-white: #EAF1E4;
    --color-white-darker: #d5ddce;
    --color-orange: #E78823;
    --color-orange-light: #f89933;
    --color-error: #EC0B43;
    --color-green: #21C063;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

.nav-container{
    height: 70vh;
    background-image: url(../assets/img/portada3.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-size: 20px;
    color: var(--color-white);
    overflow: hidden;
}

.listMenu {
    display: flex;
    gap: 25px;
}

.portada {
    width: 100%;
    height: 60vh;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.titulo {
    grid-column: 4/6;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white)
}

.titulo h1 {
    font-size: 50px;
    /* text-shadow: white 2px 2px 2px; */
}

.titulo p {
    font-size: 20px;
}

.main{
    background-color: var(--color-white);
}

.autos-container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    row-gap: 100px;
    padding: 100px;
    background-color: var(--color-white);
}

.card-error{
    background-color: var(--color-error);
    height: 200px;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
}

.card-error-autosContainer{
    grid-column: 1/4;
    overflow: hidden;
}

.card-success{
    background-color: var(--color-green);
    height: 200px;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 350px;
    width: 350px;
    /* border-radius: 20px; */
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    box-shadow: black 1px 2px 2px ;
    transition: ease 0.5s;
    background-color: var(--color-white-darker);
    color: var(--color-main-dark);
}

.img-card img{
    height: 200px;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}

.card h2 {
    text-align: center;
}

.titulo-card{
    font-size: 30px;
    margin-top: 25px;
}

.precio-card{
    font-size: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    transition: ease 0.5s;

}

.button-add{
    background-color: var();
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 0px;
    transition: ease 0.5s;
    color: var(--color-main-dark);
    background-color: var(--color-orange);
    width: 100%;
}

.button-add:hover{
    transition: ease 0.5s;
    background-color: var(--color-orange-light);
    cursor: pointer;
}

footer {
    background-color: var(--color-main-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    padding-top: 20px;
    overflow: hidden;
    justify-content: space-between;
    padding-bottom: 20px;
    color: var(--color-white-darker);
}

.listRedes {
    display: flex;
    gap: 20px;
}

.redes-icon i{
    font-size: 30px;
    list-style: none;
    text-decoration: none;
}

/* carrito */

.portada-cart{
    background-image: url(../assets/img/portada3.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.section-cart{
    background-color: var(--color-white);
    height: 800px;
}

.cart-container-container{
    height: 300px;
}

.cart-container{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 300px;
}

.card-carrito{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: var(--color-orange);
    border-radius: 10px;
    width: 70%;
}

.img-card-carrito{
    height: 120px;
    width: 200px;
    overflow: hidden;
}

.imgCarrito{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.div-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle-card{
    font-size: 16px;
}

.auto-prop{
    font-size: 20px;
}

.cart-title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.card-buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.botones-cart{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
}

/* Media queries */

@media only screen and (max-width:1650px) {
    .autos-container {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-content: space-around;
        row-gap: 120px ;
    }
}
